@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

body {
  background-color: var(--p-surface-0);
}

.dark {
  body {
    background-color: var(--p-surface-900) !important;
  }
}

:root {
  --panel-bg-surface: var(--p-surface-0);
}

:root[class='dark'] {
  --panel-bg-surface: var(--p-surface-900);
}

.surface-panel {
  background-color: var(--panel-bg-surface);
}
